<!DOCTYPE html>
<html>
<head>
  <title>BerlinBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%= scrivito_head_tags %>
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

  <%= scrivito_body_tags %>

</body>
</html>
